
.sidebar{

    margin: 0;
    padding-top:25vh;
    background: linear-gradient(45deg, #afaff1, #393967, #000d3a);
    position: fixed;
    height: 100vh;
    width: 350px;
    overflow: hidden;

}

.sidebar a {
    display: block;
    color: #ffffff;
    padding: 18px;
    text-decoration: none;
    font-size: 25px;
    font-family: calibiri;
}


.sidebar a:hover{

    border-left: 5px solid #5584ff;
    background: #122143;
    text-decoration: none;

}

.sidebar a:focus{
    text-color: #cce5ff;
    border-left: 5px solid #f3eeed;
    background: #404040;
    color:#fff;
}


.content{

    width: 180vh;
    margin-left: 275px;
    padding: 1px 16px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(45deg, #3d3d58, #000013, #3d3d58);

}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        width: 100%;
        height: auto;
        position: relative;
    }

    .table {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }

    .table {
        text-align: center;
        float: none;
    }
}




