@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.cont{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
    margin-bottom:50px;
}
.cont .Slider{
    position:absolute;
    width:100%;
    height:400vh;
    transition:all 1s ease-in-out;
    top:0vh;
}
.cont .Slider .slide{
    position:relative;
    width:100%;
    height:25%;
    display:flex;
    flex-wrap:wrap;
}
.cont .Slider .slide:nth-child(even){
    flex-direction:row-reverse;
}
.cont .Slider .slide .Content{
    width:50%;
    height:100%;
    display:table;
    background-color: #acabab;
}
.cont .Slider .slide .Content div{
    display:table-cell;
    vertical-align:middle;
    padding:50px;
    text-align:center;
    color:#222;
}
.cont .Slider .slide .Content div h2{
    font-size:40px;
    margin:20px;
}
.cont .Slider .slide .Content div a{
    display:inline-block;
    margin:20px;
    width:180px;
    height:50px;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    background-color: #040935;
    color:#fff;
    transition-property:background-color,color;
    transition-duration:.5s,.5s;
}
.cont .Slider .slide .Content div a:hover{
    background-color:#fff;
    border:2px solid #262626;
    color:#262626;
    line-height:46px;
}
.cont .Slider .slide .ImageContent{
    width:50%;
    height:100%;
}
.cont .Slider .slide .ImageContent img{
    width:100%;
    height:100%;
    cursor:pointer;
    transition:1s;
}
.cont .Slider .slide .ImageContent img:hover{
    filter:brightness(.3);
}
.cont input{
    display:none;
}
.cont .Navigation{
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
}
.cont .Navigation label{
    position:relative;
    display:block;
    width:18px;
    height:18px;
    margin:5px;
    border-radius:50%;
    cursor:pointer;
    transition:.5s;
}
.cont .Navigation label span{
    position:absolute;
    display:inline-block;
    width:50%;
    height:50%;
    top:50%;
    left:50%;
    border-radius:100%;
    transform:translate(-50%,-50%);
    transition:.5s;
}
.cont #r1:checked ~ .Slider{
    top:0vh;
}
.cont #r2:checked ~ .Slider{
    top:-100vh;
}
.cont #r3:checked ~ .Slider{
    top:-200vh;
}
.cont #r4:checked ~ .Slider{
    top:-300vh;
}

.cont #r1:checked ~ .Navigation label:first-child span{
    background:#fff;
}
.cont #r1:checked ~ .Navigation label{
    border:2px solid #fff;
}
.cont #r2:checked ~ .Navigation label:nth-child(2) span{
    background:#222;
}
.cont #r2:checked ~ .Navigation label{
    border:2px solid #222;
}
.cont #r3:checked ~ .Navigation label:nth-child(3) span{
    background:#fff;
}
.cont #r3:checked ~ .Navigation label{
    border:2px solid #fff;
}
.cont #r4:checked ~ .Navigation label:last-child span{
    background:#222;
}
.cont #r4:checked ~ .Navigation label{
    border:2px solid #222;
}

@media (max-width:762px){
    .cont{
        height:100vh;
    }
    .cont .Slider .slide .Content div{
        padding:10px;
    }
    .cont .Slider .slide .Content div h2{
        font-size:25px;
        margin:10px;
    }
    .cont .Slider .slide{
        flex-direction:column-reverse;
    }
    .cont .Slider .slide:nth-child(even){
        flex-direction:column-reverse;
    }
    .cont .Slider .slide .Content{
        width:100%;
        height:50%;
        display:table;
    }
    .cont .Slider .slide .ImageContent{
        width:100%;
        height:50%;
    }
    .cont .Navigation{
        position:absolute;
        top:20%;
        right:5px;
    }
    .cont .Navigation label{
        border:2px solid #fff !important;
    }
    .cont #r1:checked ~ .Navigation label:first-child span,
    .cont #r2:checked ~ .Navigation label:nth-child(2) span,
    .cont #r3:checked ~ .Navigation label:nth-child(3) span,
    .cont #r4:checked ~ .Navigation label:last-child span{
        background:#fff !important;
    }
    .cont .Slider .slide .Content div a{
        margin:5px;
        width:120px;
        height:50px;
        line-height:50px;
    }
}
@media (max-width:315px){
    .cont .Slider .slide .Content div{
        padding:5px;
    }
    .cont .Slider .slide .Content div{
        padding:5px;
    }
    .cont .Slider .slide .Content div h2{
        font-size:20px;
        margin:5px;
    }
    .cont .Slider .slide .Content{
        width:100%;
        height:60%;
        display:block;
    }
    .cont .Slider .slide .ImageContent{
        width:100%;
        height:40%;
    }
}
