.body {margin:2rem;}
.back{
    background-position: center;
    background-repeat: no-repeat;

    position: relative;


    background-image: url("../images/newsbg.png");


    background-size: cover;
}

.imgs img{
    width:100%;
    height:40vh ;

}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

}

/* Medium devices (tablets, 768px and up)
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

@media (max-width: 950px) {

}
