#sailorTableArea{
    min-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}
#sailorTable{
    white-space: normal;
}
.tablebody {
    display:block;
    height:300px;
    overflow:auto;
}
.tablehead , .tablebody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}